# .gitignore ファイル

# Nuxt関連
.nuxt
dist
.output

# npm関連
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# その他
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# エディタ関連（補足するとより良いかも）
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ログファイル
logs/
*.log

# キャッシュ
.cache/
.temp/
