@import "tailwindcss";

@theme {
	/* ポケモンカラーパレット */
	--color-poke-red: #ee1515;
	--color-poke-blue: #3b4cca;
	--color-poke-yellow: #ffcb05;
	--color-poke-dark: #1a1a2e;

	/* タイプカラー */
	--color-type-fire: #f08030;
	--color-type-water: #6890f0;
	--color-type-grass: #78c850;
	--color-type-electric: #f8d030;
	--color-type-psychic: #f85888;
	--color-type-ice: #98d8d8;
	--color-type-dragon: #7038f8;
	--color-type-dark: #705848;
	--color-type-fairy: #ee99ac;
	--color-type-normal: #a8a878;
	--color-type-fighting: #c03028;
	--color-type-flying: #a890f0;
	--color-type-poison: #a040a0;
	--color-type-ground: #e0c068;
	--color-type-rock: #b8a038;
	--color-type-bug: #a8b820;
	--color-type-ghost: #705898;
	--color-type-steel: #b8b8d0;
}
